body{
    background-color: rgb(233, 18, 18);
    color: white;
    max-width: 128px;
    margin: 0 auto;

}
h1{
    font-size:50px;
    color:black;
    margin-top:50px;
    text-align:center;
    font-weight:bold;
    font-family:sans-serif;
}