body{
    background-color: grey;
    color: white;
    max-width: 128px;
    margin: 0 auto;

}
h1{
    font-size:50px;
    color:black;
    margin-top:50px;
    text-align:center;
    font-weight:bold;
    font-family:sans-serif;
}
#bingo-board{
    border-style:solid;
    border-width: 4px;
    border-color:black;
    padding: 12px;
    border-radius: 10px;
    display:auto;
    width: 500%
}
 .number {
        background-color:black;
        display: inline-block;
        width: 12%;
        min-height: 64px;
        text-align: center;
        padding-top: 32px;
        font-size: larger;
        font-weight: bold;
        border-style: solid;
        border-radius: 8px;
        margin: 3px;
        border-color: #383838;
     }